body {
  font-family: 'Raleway', sans-serif;
  font-size: 65%; /* environ 10px */
  margin: 0;
}
.main-container {
  width: 95vw;
  margin: 0 auto;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.6rem;
}
h3 {
  font-size: 1.1rem;
}
a, a:hover {
  color: black;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
img {
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.navbar a {
  font-size: 1.2rem;
}
.navbar__logo, .navbar__signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 80%;
}
.navbar__signin {
  width: 15%;
}
.black-link {
  font-size: 1.2rem;
  padding-top: 1rem;
}
.black-link:hover {
  color: #0065FC;
  text-decoration: none;
  border-top: 2px solid #0065FC;
  opacity: 1;
}
.blue-link {
  color: #0065FC;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.blue-link:hover {
  border-top: 2px solid black;
  color: black;
  opacity: 1;
}
#logo {
  padding-top: 1rem;
}
/* header */
header p {
  font-size: 1.1rem;
}
form {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 35%;
  margin-bottom: 1rem;
}
.form-icon {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form-button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: 1px solid #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.75rem;
  font-size: 1rem;
}
#search-form {
  font-weight: bold;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #F2F2F2;
  width: 45%;
}
button {
  display: none;
}
.filter {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.filter h3 {
  margin-right: 1.3rem;
}
.filter__buttons  {
  display: flex;
  align-items: center;
}
.filter__buttons a:hover {
  opacity: 0.7;
}
.filter__buttons__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  width: auto;
  margin-right: 1rem;
}
.icon {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 1rem;
  border-radius: 20px;
}
.filter__buttons__btn p {
  font-weight: bold;
  padding-right: 0.5rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1rem;
}
.infos {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;
}
.fa-info {
  color: #0065FC;
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  margin-right: 1rem;
  font-size: 1rem;
}
.infos p {
  margin: 0;
}

/* resultats */
.resultats {
  display: flex;
  justify-content: space-between;
  height: auto;
}
/* section results */
.results {
  background-color: #F2F2F2;
  width: 62%;
  height: auto;
  border-radius: 1rem;
}
.hotel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  margin: 1.6rem;
}
.hotel-card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.hotel-card__image {
  width: 93%;
  height: 150px;
  display: block; /* pr pouvoir centrer l'img avec margin auto */
  margin: 0.5rem auto;
}
.hotel-card__text {
  margin: 0.6rem;
}
.hotel-card__text h3 {
  margin: 0.2rem 0;
}
.hotel-card__text p {
  font-size: 1.05rem;
  margin: 0.4rem 0;
  opacity: 0.8;
}
.rate {
  display: flex;
  font-size: 1rem;
}
.stars {
  color: #0065FC;
}
.stars-grey {
  color: #F2F2F2;
}
.results-afficher {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
}
/* aside popular */
.popular {
  background-color: #F2F2F2;
  width: 35%;
  height: auto;
  border-radius: 1rem;
}
.popular-cards {
  width: 80%;
  margin:0 auto;
}
.popular-cards__title {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.popular-cards__title h2 {
  padding-left: 0;
  margin-bottom: 0;
}
.fa-chart-line {
  font-size: 1.5rem;
  padding-top: 2.5rem;
}
.popular-card {
  display:flex ;
  justify-content: flex-start;
  /*width: 100%;*/
  height: auto;
  margin: 1.6rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.popular-card__image {
  width: 35%;
  height: 150px;
  margin: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
}
.popular-card__text {
  margin: 0.8rem;
  padding-top: 1.1rem;
}
.popular-card__text p {
  font-size: 1.05rem;
  opacity: 0.8;
  padding-bottom: 0.5rem;
}
.popular-card__text h3 {
  margin-top: 0;
}
.popular-rate {
  display: flex;
  font-size: 1rem;
}
/* article activities */
.activities {
  width: 100%;
  margin: 2rem auto;
  height: 50vh;
  margin-top: 4rem;
}
.activities h2 {
  padding-left: 0;
  padding-top: 0;
}
.activity-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85%;
  width: 100%;
  margin: 2rem auto;
}
.activity-cards__column {
  width: 23%;
  height: 100%;
}
.activity-cards__column a {
  border-radius: 1rem;
}
.one-card {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  border-radius: 1rem;
}
.two-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity-card-big {
  height: 100%;
}
.activity-card-medium {
  height: 50%;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.activity-card-little {
  height: 40%;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.activity-card__image {
  width: 100%;
  height: 80%;
}
.big-img {
  height: 90%;
}
.little-img {
  height: 75%;
}
.activity-card__title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0;
  padding: 0.3rem 1rem;
}
/* footer */
footer {
  background-color: #F2F2F2;
  margin-top: 4rem;
  width: 100vw;
}
.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  width: 95vw;
  margin: 0 auto;
  padding: 2rem 0;
}
.footer-columns__column a {
  display: block;
  padding-bottom: 0.3rem;
  font-size: 1.05rem;
  opacity: 0.8;
}
.footer-columns__column h3 {
  margin-bottom: 2rem;
}
.footer-columns__column a:hover {
  color: #0065FC;
}

/*responsive */

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  .main-container {
  width: 100vw;
  margin: 0;
  }
  h1, h2, h3 {
    font-weight: bold;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 1.6rem;
  }
  h3 {
    font-size: 1rem;
  }
  .navbar {
    align-items: start;
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 1rem;
  }
  .navbar a {
    font-size: 1rem;
  }
  .navbar__logo,  .navbar__signin {
    width: 50%;
   }
  .navbar__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__signin {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #logo {
    padding-top: 0;
  }
  .black-link:hover {
    border-bottom: 2px solid #0065FC;
    border-top: 0;
  }
  .places {
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #F2F2F2;
  }
  .todo {
    text-align: end;
    width: 100%;
    padding: 1.6rem 1rem 1rem 1rem;
    border-bottom: 2px solid #F2F2F2;
  }
  header {
    margin: 0 1rem;
  }
  header p {
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .search p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  form {
    width: 100%;
  }
  #search-form {
    width: 100%;
  }
  input[type="submit"] {
    display: none;
  }
  button {
    display: block;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.75rem;
  }
  .filter {
    flex-direction: column;
    align-items: start;
  }
  .filter__buttons {
    flex-wrap: wrap;
  }
  .filter__buttons__btn {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
  }
  .filter__buttons__btn p {
    font-size: 0.85rem;
  }
  .infos p {
    font-size: 0.8rem;
  }
  .resultats {
  display: flex;
  flex-direction: column-reverse;
  }
  .popular, .resultats, .results {
    width: 100%;
    border-radius: 0;
  }
  .popular-cards {
    width: 90%;
  }
  .popular-card__image {
    height: 125px;
    margin: 0.4rem;
  }
  .popular-card__text {
    padding-top: 0;
  }
  .popular-card__text h3 {
    margin-bottom: 0.3rem;
  }
  .popular-card__text p {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .popular-rate, .rate {
    font-size: 0.75rem;
  }
  .results {
    background-color: white;
  }
  .hotel-cards {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
  }
  .hotel-card__image {
    width: 97%;
    height: 125px;
  }
  .hotel-card__text p {
    font-size: 0.9rem;
  }
  .activities {
    height: auto;
  }
  .activities h2 {
    margin-left: 1.4rem;
  }
  .activity-cards {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .activity-cards h3 {
    font-size: 1rem;
  }
  .activity-cards__column {
    width: 85%;
  }
  .one-card {
    height: 30vh;
    margin-bottom: 1rem;
  }
  .two-cards {
    height: 60vh;
    justify-content: start;
    margin-bottom: 2rem;
  }
  .activity-card-big, .activity-card-medium, .activity-card-little {
    margin-bottom: 1rem;
  }
  .activity-card-little {
    height: 50%;
  }
  .activity-card__image, .big-img, .little-img {
    height: 75%;
  }
  footer {
    margin-top: 2rem;
  }
  .footer-columns {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
  .footer-columns__column {
    margin-bottom: 1rem;
  }
  .footer-columns__column h3 {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
}

/*Medium devices (tablets portrait, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .navbar__logo {
    width: 70%;
  }
  .navbar__signin {
    width: 25%;
  }
  form {
    width: 65%;
  }
  .filter {
    flex-direction: column;
    align-items: start;
  }
  .resultats {
    flex-direction: column-reverse;
  }
  .resultats, .results, .popular {
    width: 100%;
  }
  .popular {
    margin-bottom: 3rem;
  }
  .popular-cards {
    width: 90%;
  }
  .popular-cards__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .popular-card {
    width: 45%;
    margin: 1.6rem 0;
  }
  .popular-card__text {
    padding-top: 0;
    margin: 0.6rem;
  }
  .results {
    background-color: white;
  }
  .results h2 {
    padding-left: 0;
  }
  .hotel-cards {
    grid-gap: 1.5rem;
    margin: 1.6rem 0;
  }
  .results-afficher {
    font-size: 1.3rem;
    margin-left: 0;
  }
  .activities {
    height: 75vh;
  }
  .activity-cards {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .activity-cards__column {
    width: 45%;
    height: 50%;
    margin-bottom: 2rem;
  }
  .big-img {
    height: 85%;
  }
  .activity-card__image {
    height: 75%;
  }
  .little-img {
    height: 70%;
  }
}
/*Large devices (tablets landscape, desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  * {
    box-sizing: border-box;
  }
  .navbar__logo {
    width: 73%;
  }
  .navbar__signin {
    width: 22%;
  }
  form {
    width: 60%;
  }
  .hotel-cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .results-afficher {
    margin-bottom: 1.6rem;
  }
  .popular-cards {
    width: 88%;
  }
  .popular-card {
    flex-direction: column;
    margin: 1.6rem 0;
  }
  .popular-card__text {
    padding-top: 0;
  }
  .popular-card__text h3 {
    margin-bottom: 0.5rem;
  }
  .popular-card__text p {
    padding-bottom: 0;
    margin: 0.5rem 0;
  }
  .popular-card__image {
    width: auto;
    height: 135px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 0;
  }
  .activity-card__image {
    height: 73%;
  }
  .activity-card__image.big-img {
    height: 86%;
  }
  .activity-card__image.little-img {
    height: 65%;
  }
  .activity-card__title {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
  .activity-card__image {
    height: 73%;
  }
}
