.main-container {
  width: 95vw;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 65%; /* environ 10px */
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-left: 1.6rem;
}
h3 {
  font-size: 1.1rem;
}
a, a:hover {
  color: black;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
img {
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
/* navbar */
.navbar {
  display: flex;
  margin-bottom: 2%;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#logo {
  padding-top: 1rem;
}
.navbar__links__nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.navbar__links__nav a {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.navbar__links__nav a:hover {
  color: #0065FC;
  text-decoration: none;
  border-top: 2px solid #0065FC;
  opacity: 1;
}
.navbar__signin {
  padding-top: 1rem;
}
.navbar__signin a {
  color: #0065FC;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.navbar__signin a:hover {
  border-top: 2px solid black;
  color: black;
  opacity: 1;
}
/* header */
header p {
  font-size: 1.1rem;
}
.input-group {
  width: 35%;
}
input[value="Marseille, France"] {
  font-weight: bold;
}
.input-group-text {
  border-radius: 10px;
}
.blue {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
}
.filter {
  margin-top: 30px;
}
.filter__buttons  {
  display: flex;
  align-items: center;
}
.filter__buttons a:hover {
  opacity: 0.7;
}
.filter__buttons h3 {
  margin-right: 15px;
}
.filter__buttons__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  width: auto;
  margin-right: 10px;
}
.icon {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 12px;
  border-radius: 20px;
}
.filter__buttons__btn p {
  font-weight: bold;
  padding-right: 5px;
  margin: 0;
  padding: 0 10px;
  font-size: 1rem;
}
.filter__text {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}
.fa-info {
  color: #0065FC;
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  padding: 5px 8px;
  margin-right: 10px;
  font-size: 1rem;
}
.filter__text p {
  margin: 0;
  font-size: 1.1rem;
}

/* resultats */
.resultats {
  display: flex;
  justify-content: space-between;
}
/* section results */
.results {
  background-color: #F2F2F2;
  width: 62%;
  height: 85vh;
  border-radius: 1rem;
}
.hotel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30%;
  grid-gap: 30px;
  grid-template-rows: 1fr 1fr;
  margin: 1.6rem;
}
.hotel-card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.hotel-card__image {
  width: 93%;
  height: 150px;
  display: block; /* pr pouvoir centrer l'img avec margin auto */
  margin: 8px auto;
}
.hotel-card__text {
  margin: 8px;
}
.hotel-card__text p {
  font-size: 1.1rem;
}
.rate {
  display: flex;
  font-size: 1rem;
}
.stars {
  color: #0065FC;
}
.stars-grey {
  color: #F2F2F2;
}
.results-afficher {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1.5rem;
}
/* aside popular */
.popular {
  background-color: #F2F2F2;
  width: 35%;
  height: 85vh;
  border-radius: 1rem;
}
.popular-cards {
  width: 80%;
  margin:0 auto;
}
.popular-cards__title {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.popular-cards__title h2 {
  padding-left: 0px;
}
.fa-chart-line {
  font-size: 1.5rem;
  padding-top: 40px;
}
.popular-card {
  display:flex ;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 1.6rem 0rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.popular-card__image {
  width: 35%;
  height: 150px;
  margin: 0.6rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
}
.popular-card__text {
  margin: 0.8rem;
  padding-top: 1.1rem;
}
.popular-card__text p {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
.popular-rate {
  display: flex;
  font-size: 1rem;
}
/* article activities */
.activities {
  width: 100%;
  margin: 2rem auto;
  height: 50vh;
}
.activities h2 {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 6rem;
}
.activity-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85%;
  width: 100%;
  margin: 2rem auto;
}
.activity-cards__column {
  width: 23%;
  height: 100%;
}
.activity-cards__column a {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  border-radius: 1rem;
}
.one-card {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  border-radius: 1rem;
}
.two-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity-card-big {
  height: 100%;
}
.activity-card-medium {
  height: 50%;
}
.activity-card-little {
  height: 40%;
}
.activity-card__image {
  width: 100%;
  height: 80%;
}
.big-img {
  height: 90%;
}
.little-img {
  height: 75%;
}
.activity-card__title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
/* footer */
footer {
  background-color: #F2F2F2;
  margin-top: 4rem;
}
.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  width: 95vw;
  margin: 0 auto;
  padding: 2rem 0;
}
.footer__column a {
  display: block;
}
.footer__column h3 {
  margin-bottom: 2rem;
}
.footer__column a:hover {
  color: #0065FC;
}
